<html>
  <head>
    <title>Peer Evaluation Form</title>
  </head>

  <h1 style="font-size:160%;text-align:center;">Peer Evaluation Form</h1>

  <p style="font-size:130%;text-align:center;">
    <form action="/eval">
      Project:
      <input type="text" name="Project">
      Team:
      <input type="text" name="Team">
      Date:
      <input type="datetime-local" name="Date"><br><br>

    </p>

  <p style="font-size:130%;text-align:center;">
    A(self):
    <input type="text" name="a">
    B:
    <input type="text" name="b"><br>
    C:
    <input type="text" name="c">
    D:
    <input type="text" name="d"></p>

  <p style="font-size:145%;"><b>Peer Evaluation</b></p>

  <p style="font-size:110%;"><b>Meeting attendance</b>: Member attended
    all group meetings, concisistently punctual, <br>and
  stayed longer than the scheduled meeting time when necessary.</p>

  <p style="font-size:110%;">Member:
    A:
    <input type="range" name="att1" min="1" max="10" list=steplist>
    <datalist id="steplist">
    <option>1</option><option>2</option>
    <option>3</option><option>4</option>
    <option>5</option><option>6</option>
    <option>7</option><option>8</option>
    <option>9</option><option>10</option>
  </datalist>
    B:
    <input type="range" name="att2" min="1" max="10" list=steplist>
    <datalist id="steplist">
    <option>1</option><option>2</option>
    <option>3</option><option>4</option>
    <option>5</option><option>6</option>
    <option>7</option><option>8</option>
    <option>9</option><option>10</option>
  </datalist>
    C:
    <input type="range" name="att3" min="1" max="10" list=steplist>
    <datalist id="steplist">
    <option>1</option><option>2</option>
    <option>3</option><option>4</option>
    <option>5</option><option>6</option>
    <option>7</option><option>8</option>
    <option>9</option><option>10</option>
  </datalist>
    D:
    <input type="range" name="att4" min="1" max="10" list=steplist>
    <datalist id="steplist">
    <option>1</option><option>2</option>
    <option>3</option><option>4</option>
    <option>5</option><option>6</option>
    <option>7</option><option>8</option>
    <option>9</option><option>10</option>
  </datalist></P>

  <p style="font-size:110%;"><b>Quality of contributions</b>: Consistently provided
    meaningful input, supporting ef-<br>fective problem solving and decision-making.
    Provided ideas that moved the project<br>forward.</p>

  <p style="font-size:110%;">Member:
    A:
    <input type="range" name="Qua1" min="1" max="10" list=steplist>
    <datalist id="steplist">
    <option>1</option><option>2</option>
    <option>3</option><option>4</option>
    <option>5</option><option>6</option>
    <option>7</option><option>8</option>
    <option>9</option><option>10</option>
  </datalist>
     B:
     <input type="range" name="Qua2" min="1" max="10" list=steplist>
     <datalist id="steplist">
     <option>1</option><option>2</option>
     <option>3</option><option>4</option>
     <option>5</option><option>6</option>
     <option>7</option><option>8</option>
     <option>9</option><option>10</option>
 </datalist>
    C:
    <input type="range" name="Qua3" min="1" max="10" list=steplist>
    <datalist id="steplist">
    <option>1</option><option>2</option>
    <option>3</option><option>4</option>
    <option>5</option><option>6</option>
    <option>7</option><option>8</option>
    <option>9</option><option>10</option>
  </datalist>
  D:
  <input type="range" name="Qua4" min="1" max="10" list=steplist>
  <datalist id="steplist">
  <option>1</option><option>2</option>
  <option>3</option><option>4</option>
  <option>5</option><option>6</option>
  <option>7</option><option>8</option>
  <option>9</option><option>10</option>
</datalist></P>

  <p style="font-size:110%;"><b>Cooperation and teamwork</b>: Led the way in
      creating an open, cooperative team<br>enviroment. Encouraged the
      participation of all group members. Listened to others<br>
      and disagreed in a constructive manner.</p>

      <p style="font-size:110%;">Member:
        A:
        <input type="range" name="Quan1" min="1" max="10" list=steplist>
        <datalist id="steplist">
        <option>1</option><option>2</option>
        <option>3</option><option>4</option>
        <option>5</option><option>6</option>
        <option>7</option><option>8</option>
        <option>9</option><option>10</option>
      </datalist>
         B:
         <input type="range" name="Quan2" min="1" max="10" list=steplist>
         <datalist id="steplist">
         <option>1</option><option>2</option>
         <option>3</option><option>4</option>
         <option>5</option><option>6</option>
         <option>7</option><option>8</option>
         <option>9</option><option>10</option>
     </datalist>
        C:
        <input type="range" name="Quan3" min="1" max="10" list=steplist>
        <datalist id="steplist">
        <option>1</option><option>2</option>
        <option>3</option><option>4</option>
        <option>5</option><option>6</option>
        <option>7</option><option>8</option>
        <option>9</option><option>10</option>
      </datalist>
      D:
      <input type="range" name="Quan4" min="1" max="10" list=steplist>
      <datalist id="steplist">
      <option>1</option><option>2</option>
      <option>3</option><option>4</option>
      <option>5</option><option>6</option>
      <option>7</option><option>8</option>
      <option>9</option><option>10</option>
    </datalist></P>

  <p style="font-size:110%;"><b>Cooperation and teamwork</b>:
  Completed assigned work correctly and on time.</P>

  <p style="font-size:110%;">Member:
    A:
    <input type="range" name="Coo1" min="1" max="10" list=steplist>
    <datalist id="steplist">
    <option>1</option><option>2</option>
    <option>3</option><option>4</option>
    <option>5</option><option>6</option>
    <option>7</option><option>8</option>
    <option>9</option><option>10</option>
  </datalist>
     B:
     <input type="range" name="Coo2" min="1" max="10" list=steplist>
     <datalist id="steplist">
     <option>1</option><option>2</option>
     <option>3</option><option>4</option>
     <option>5</option><option>6</option>
     <option>7</option><option>8</option>
     <option>9</option><option>10</option>
 </datalist>
    C:
    <input type="range" name="Coo3" min="1" max="10" list=steplist>
    <datalist id="steplist">
    <option>1</option><option>2</option>
    <option>3</option><option>4</option>
    <option>5</option><option>6</option>
    <option>7</option><option>8</option>
    <option>9</option><option>10</option>
  </datalist>
  D:
  <input type="range" name="Coo4" min="1" max="10" list=steplist>
  <datalist id="steplist">
  <option>1</option><option>2</option>
  <option>3</option><option>4</option>
  <option>5</option><option>6</option>
  <option>7</option><option>8</option>
  <option>9</option><option>10</option>
</datalist></P>

      <input type="submit" value="Submit">
    </form>
</html>
